doctype
html
	style
		include ./styles/login.css
		include ./styles/index.css
	head
		title Signup
	body
		div(class="navBar")
			ul(class="topnav")
				li
					a(href='/login') Login
				li
					a(href='/secure') Shop
				li
					a(href='/about') About
		h1(id="loginH1") Did you forget your password?
			div(class="form-div")
