html(lang='en')
	head
		title Shop Comet
		style
			include ./styles/index.css
			include ./styles/dino.css
	body(id="indexBody")
		div(class="navBar")
			ul(class="topnav")
				li
					a(href='/login') Login
				li
					a(href='/secure') Shop
				li
					a(href='/welcome') About
				li(class="right")
					a(href="/logout") Logout
