html(lang='en')
	head
		title MiddGrub
		style
			include ./styles/index.css
			include ./styles/dino.css
	body(id="indexBody")
		div(class="navBar")
			ul(class="topnav")
				li
					a(href='/login') Login
				li
					a(href='/secure') Shop
				li
					a(href='/signup') Signup
				li
					a(href='/about') About
				li(class="right")
					a(href="/logout") Logout
