html
	head
		title MiddGrub
		style
			include ./styles/orders.css
			include ./styles/index.css

	body
		div(class="navBar")
			ul(class="topnav")
				li
					a(href='/logout') Logout
			div
					table
						tr
							th Orders in Queue
							th In Delivery
							th Delivered
						tr
							td Additional cheduled projects and service
							td Additional cheduled projects and service
							td Additional cheduled projects and service
						tr
							td Unscheduled Response – After Hours Monday – Friday, 6:00pm – 7:30am Saturday, Sunday
							td Unscheduled Response – After Hours Monday – Friday, 6:00pm – 7:30am Saturday, Sunday
							td Unscheduled Response – After Hours Monday – Friday, 6:00pm – 7:30am Saturday, Sunday
						tr
							td Unscheduled Response – After Hours Monday – Friday, 6:00pm – 7:30am Saturday, Sunday
							td Unscheduled Response – After Hours Monday – Friday, 6:00pm – 7:30am Saturday, Sunday
							td Unscheduled Response – After Hours Monday – Friday, 6:00pm – 7:30am Saturday, Sunday

							

						
		
			
