html
	head
		title MiddGrub
		style
			include ./styles/orders.css
			include ./styles/index.css

	body
		div(class="navBar")
			ul(class="topnav")
				li
					a(href='/logout') Logout
			div
					table
						tr
							th Orders in Queue
							th In Delivery
							th Delivered
						tr
							td <br> Name: David Valentin </br> <br> Email: dvalentin@middlebury.edu</br><br> Ordered: Regular Pizza </br> <br> Cost: $15 </br> <br> Destination: Allen 203 </br> <br> Order Time:  3/13/18 5:36 PM </br>
							td <br> Name: Jack Smith </br> <br> Email: jsmith@middlebury.edu</br><br> Ordered: Chicken Wrap, Fries </br>  <br> Cost: $10 </br> <br> Destination: Allen 203 </br> <br> Order Time:  3/13/18 5:36 PM </br>
						tr
							td Unscheduled Response – After Hours Monday – Friday, 6:00pm – 7:30am Saturday, Sunday
							td Unscheduled Response – After Hours Monday – Friday, 6:00pm – 7:30am Saturday, Sunday
							td Unscheduled Response – After Hours Monday – Friday, 6:00pm – 7:30am Saturday, Sunday
						tr
							td Unscheduled Response – After Hours Monday – Friday, 6:00pm – 7:30am Saturday, Sunday
							td Unscheduled Response – After Hours Monday – Friday, 6:00pm – 7:30am Saturday, Sunday
							td Unscheduled Response – After Hours Monday – Friday, 6:00pm – 7:30am Saturday, Sunday

							

						
		
			
