html
	head
		title Shop Comet
		style
			include ./styles/index.css
	body
		div(class="navBar")
			ul(class="topnav")
				li
					a(href='/logout') Logout
				li(class="right")
					a(href="/basket") Basket
		h1 Hi, #{email}
		- var list = ["Shaffers", "Ninos", "Green Peppers", "Sbai Sbai", "Noonies"]
		- var imgs = ["shaffers-logo.png", "greenpeppers-logo.png", "sbaisbai-logo.png", "noonies-logo.png",]

		div(class="restaurantList")
			each val, index in list
				div(class="restaurantImg")
					h1 #{val}
					img.image(src='/assets/' + imgs[index])

						
		
			
