html(lang='en')
	head
		title About Page
	body
		h1 About Page
		p This is a fun little web application I built with Express that has user authentication! I am not responsible for how you use this application :)
		p If you don't have an account, then you have to
			ul
				li Find someone who does!
				li Earn it...
		p Btw I cross reference IP addresses when you login! If you are logging in from a different ip addresses i.e. different macs, mobile devices ect...I will block you and remove you from logging in :)
