doctype
html
	style
		include ./styles/login.css
		include ./styles/index.css
	head
		title Login
	body
		div(class="navBar")
			ul(class="topnav")
				li
					a(href='/login') Login
				li
					a(href='/secure') Shop
				li
					a(href='/signup') Signup
				li
					a(href='/about') About
				li(class="right")
					a(href="/logout") Logout
		h1(id="loginH1") Login to Shop!
			div(class="form-div")
				form(class="loginForm" method='post')
					p
						label(id="emailLabel" for='email') Email
					input(class="emailInput" type='text', name='email', placeholder="Your email..")
					p
						label(id="passwordLabel" for='password') Password
					input(class="passwordInput" type='password', name='password', placeholder="Your password..")
					div(id="submitDiv")
						input(type='submit')
